@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background: #f2f2f2;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  width: 1024px;
  background: #4a90e2;
  height: 64px;
  display: flex;
  align-items: stretch;
}
.nav-bar-title {
  font-weight: bold;
  color: #ffffff;
  font-size: x-large;
}
.nav-bar-perfil {
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
}
.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  width: 100%;
}
